@font-face {
    font-family: 'default';
    src: url('default_font.ttf') format('truetype');
}
* {
    margin:0;
    padding: 0;
    font-family: 'default';
}
h1 {
    font-size: 20px;
}
#heading {
    text-decoration: underline;
    margin-top: 20px;
}
.cont {
    width: 80%;
    /* border: 2px red solid; */
    margin: auto;
}
a, a:hover, a:active, a:visited {
    color: black;
}


.box1 {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
} 
.box1 h1 {
    display: block;

}
footer {
    position: fixed;
    bottom: 0;
    left: 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    /* border: 1px blueviolet solid; */
}
footer img {
    width: 30px;
}
footer div {
    /* border: 1px blueviolet solid; */
    padding: 10px;
}

#toucharea {
    margin-top: 10px;
    text-align: center;
}
#myCanvas {
    border: 3px solid #000000; 
    background-color:#a1fcff; 
}

#menu-option {
    text-align: center;
}
.updatePID h1 {
    display: inline-block;
}
.updatePID {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: green 1px dashed;
}