@font-face {
    font-family: 'default';
    src: url('default_font.ttf') format('truetype');
}
* {
    margin:0;
    padding: 0;
    font-family: 'default';
}
.cont {
    width: 80%;
    /* border: 2px red solid; */
    margin: auto;
}

.box1 {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
} 
main {
    margin-top: 20px;
}
.box1 h1 {
    display: inline;
}

h1 {
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
footer img {
    width: 30px;
}
footer div {
    border: 1px blueviolet solid;
    padding: 10px;
}
#heading h1 {
    text-decoration: underline;
}

#toucharea {
    margin-top: 50px;
    text-align: center;
}

.currentPID h1 {
    display: inline-block;
}
.currentPID {
    margin-top: 20px;
    border: blueviolet 1px dashed;
}
#settings {
    text-align: center;
}
.updatePID h1 {
    display: inline-block;
}
.updatePID {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: green 1px dashed;
}